.user-container {
    background: rgba(255, 255, 255, 0.923);
    /* background: linear-gradient(to right, #f2ae56, #da6420); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    margin: 20px auto 30px auto;
}

.user-container img {
    width: 60px;
}

#user-card img {
    width: 200px;
}

.user-profile {
    display: flex;
    flex-direction: column;
    margin: 10px 20%;
}

.user-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

li {
    list-style: none;
}



/* grid-template-columns: 1fr 1fr 1fr;
justify-content: center;
align-items: center; */