* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 2px solid #f2f2f2;
}


.navbar {
    color: black;
    font-weight: bold;
    color: black;
    font-size: 20px;
    transition: 0.3s ease-in-out;
    padding: 10px;
}

.navbar .links {
    margin-left: auto;

}

.navbar button {
    margin-left: auto;
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
    width:60px;
    background: white(0, 0, 255, 0.487);
    padding: 5px;
    border: 2px solid black;
    border-radius: 6px;
}

.navbar button:hover{
    margin-left: auto;

    color: white;
    margin-left: 15px;
    width:60px;
    background: rgba(0, 0, 255, 0.139);
    padding: 5px;
    border: none;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;

}

/* width: 70px;
	padding: 5px 10px;
	background-color: white;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	border: 1px solid transparent; */
.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.navbar a:hover {
    color: white;
    cursor: pointer;
}